body::after {
	content: "";
	background-color: rgba(20, 22, 29, .97);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}

.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}

.popup__close {
	display: block;
	margin-left: auto;
}

.popup_show {
	z-index: 500;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}

.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}

.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: $bodyColor;
	width: 100%;
	max-width: rem(453);
	padding: rem(10);

	.lock & {
		visibility: visible;
	}
}

.popup__button {
	width: rem(176);
}

.feedback-popup {
	&__content {
		margin-bottom: rem(50);
	}

	&__body {
		margin-bottom: rem(46);
	}

	&__title {
		font-size: rem(27);
		line-height: math.div(65, 27);
		font-weight: 400;
		text-align: center;

		@media (max-width:$mobile) {
			font-size: rem(23);
		}
	}

	&__text {
		margin-bottom: rem(30);
		max-width: rem(384);
		margin-left: auto;
		margin-right: auto;

		font-size: rem(17);
		line-height: math.div(24, 17);
		font-weight: 300;
		color: #9397A6;
		text-align: center;

		@media (max-width:$mobile) {
			font-size: rem(15);
		}
	}
}

.feedback-form {
	padding-left: rem(40);
	padding-right: rem(40);

	@media (max-width:$mobileSmall) {
		padding-left: rem(20);
		padding-right: rem(20);
	}

	&__line.form__line_tel {
		margin-bottom: rem(34);
	}
}

.thanks-popup__body {
	padding-top: rem(45);
	padding-bottom: rem(76);

	text-align: center;
}

.thanks-popup__check-img {
	width: rem(82);
	height: rem(82);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;

	border-radius: 50%;
	background-color: #3099E5;
}

.thanks-popup__text {
	margin-bottom: rem(40);
}

.quiz-popup__content {
	max-width: rem(1230);
	padding: 0;

	background-color: $darkColor;
}

.object-popup {

	/* .object-popup__content */
	&__content {
		max-width: rem(1020);
	}

	/* .object-popup__wrapper */
	&__wrapper {}

	/* .object-popup__body */
	&__body {
		padding-top: rem(10);
		padding-bottom: rem(15);
		@include adaptiveValue("padding-right", 30, 0);
		@include adaptiveValue("padding-left", 30, 0);
	}

	/* .object-popup__image-ibg */
	&__image-ibg {
		padding-bottom: 48%;
		display: none;

		&._active {
			display: block;
		}
	}

	/* .object-popup__media */
	&__media {
		position: relative;
		margin-bottom: rem(19);
	}

	/* .object-popup__building-block */
	&__building-block {
		display: grid;
		grid-template-columns: 1fr 53%;
		row-gap: rem(20);

		@media (max-width:$mobile){
			 grid-template-columns: 1fr; 
		}
	}

	/* .object-popup__descr */
	&__descr {
		@include adaptiveValue("padding-right", 22, 0, 1020, 767, 2);
	}

	/* .object-popup__title */
	&__title {}

	/* .object-popup__text */
	&__text {
		@include adaptiveValue("font-size", 15, 12);
		line-height: 1.7333333333;
		font-weight: 300;

		p {
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
		}
	}

	/* .object-popup__build-features */
	&__build-features {}


	/* .object-popup__installment */
	&__installment {}

	/* .object-popup__subtitle */
	&__subtitle {
		font-size: rem(16);
		font-weight: 600;
		line-height: math.div(26, 16);
	}

	/* .object-popup__complex */
	&__complex {}

	/* .object-popup__apartments */
	&__apartments {}

	/* .object-popup__contacts */
	&__contacts {}
}

.button-media-prev,
.button-media-next {
	position: absolute;
	bottom: 0;

	color: #000;
}

.button-media-prev {
	left: 0;
}

.button-media-next {
	right: 0;
}

.build-features {


	/* .build-features__finish */
	&__finish {}

	/* .build-features__title */
	&__title {
		margin-bottom: rem(8);
	}

	/* .build-features__specifications */
	&__specifications {}

	/* .build-features__item */
	&__item {
		padding-left: rem(22) !important;
		// padding-right: 0 !important;
	}

	/* .build-features__label */
	&__label {}

	/* .build-features__value */
	&__value {}

	/* .build-features__descr */
	&__descr {}

	/* .build-features__block */
	&__block {}

	/* .build-features__num-floors-title */
	&__num-floors-title {}

	/* .build-features__num-floors */
	&__num-floors {}

	/* .build-features__num-flat-title */
	&__num-flat-title {}

	/* .build-features__num-flat */
	&__num-flat {}

	/* .build-features__area-flat-title */
	&__area-flat-title {}

	/* .build-features__area-flat */
	&__area-flat {}

	/* .build-features__area-price-title */
	&__area-price-title {}

	/* .build-features__area-price */
	&__area-price {}
}

.complex-object {

	/* .complex-object__body */
	&__body {}

	/* .complex-object__list */
	&__list {
		@include adaptiveValue("font-size", 15, 12);
		line-height: 1.7333333333;
		font-weight: 300;
	}

	/* .complex-object__item */
	&__item {}
}