body::after {
	content: "";
	background-color: rgba(20, 22, 29, .97);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}

.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}

.popup__close {
	display: block;
	margin-left: auto;
}

.popup_show {
	z-index: 500;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}

.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}

.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: $bodyColor;
	width: 100%;
	max-width: rem(453);
	padding: rem(10);

	.lock & {
		visibility: visible;
	}
}

.popup__button {
	width: rem(176);
}

.feedback-popup {
	&__content {
		margin-bottom: rem(50);
	}

	&__body {
		margin-bottom: rem(46);
	}

	&__title {
		font-size: rem(27);
		line-height: math.div(65, 27);
		font-weight: 400;
		text-align: center;

		@media (max-width:$mobile) {
			font-size: rem(23);
		}
	}

	&__text {
		margin-bottom: rem(30);
		max-width: rem(384);
		margin-left: auto;
		margin-right: auto;

		font-size: rem(17);
		line-height: math.div(24, 17);
		font-weight: 300;
		color: #9397A6;
		text-align: center;

		@media (max-width:$mobile) {
			font-size: rem(15);
		}
	}
}

.feedback-form {
	padding-left: rem(40);
	padding-right: rem(40);

	@media (max-width:$mobileSmall) {
		padding-left: rem(20);
		padding-right: rem(20);
	}

	&__line.form__line_tel {
		margin-bottom: rem(34);
	}
}

.thanks-popup__body {
	padding-top: rem(45);
	padding-bottom: rem(76);

	text-align: center;
}

.thanks-popup__check-img {
	width: rem(82);
	height: rem(82);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;

	border-radius: 50%;
	background-color: #3099E5;
}

.thanks-popup__text {
	margin-bottom: rem(40);
}

.quize-popup__content {
	max-width: rem(1230);
	padding: 0;

	background-color: $darkColor;
}