body::after {
	content: "";
	background-color: rgba(20, 22, 29, .97);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}

.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}

.popup__close {
	display: block;
	margin-left: auto;
	position: relative;
	z-index: 900;
}

.popup_show {
	z-index: 500;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}

.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}

.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: $bodyColor;
	width: 100%;
	max-width: rem(453);
	padding: rem(10);

	.lock & {
		visibility: visible;
	}
}

.popup__button {
	width: rem(176);
}

.feedback-popup {
	&__content {
		margin-bottom: rem(50);
	}

	&__body {
		margin-bottom: rem(46);
	}

	&__title {
		font-size: rem(27);
		line-height: math.div(65, 27);
		font-weight: 400;
		text-align: center;

		@media (max-width:$mobile) {
			font-size: rem(23);
		}
	}

	&__text {
		margin-bottom: rem(30);
		max-width: rem(384);
		margin-left: auto;
		margin-right: auto;

		font-size: rem(17);
		line-height: math.div(24, 17);
		font-weight: 300;
		color: #9397A6;
		text-align: center;

		@media (max-width:$mobile) {
			font-size: rem(15);
		}
	}
}

.feedback-form {
	padding-left: rem(40);
	padding-right: rem(40);

	@media (max-width:$mobileSmall) {
		padding-left: rem(20);
		padding-right: rem(20);
	}

	&__line.form__line_tel {
		margin-bottom: rem(34);
	}
}

.thanks-popup__body {
	padding-top: rem(45);
	padding-bottom: rem(76);

	text-align: center;
}

.thanks-popup__check-img {
	width: rem(82);
	height: rem(82);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;

	border-radius: 50%;
	background-color: #3099E5;
}

.thanks-popup__text {
	margin-bottom: rem(40);
}

.quiz-popup__content {
	max-width: rem(1230);
	padding: 0;

	background-color: $darkColor;
}

.object-popup {

	/* .object-popup__content */
	&__content {
		max-width: rem(1020);
	}

	/* .object-popup__body */
	&__body {
		padding-top: rem(10);
		padding-bottom: rem(15);
		@include adaptiveValue("padding-right", 30, 0);
		@include adaptiveValue("padding-left", 30, 0);
	}

	/* .object-popup__image-ibg */
	&__image-ibg {
		padding-bottom: 48%;
		display: none;

		&._active {
			display: block;
		}
	}

	/* .object-popup__media */
	&__media {
		position: relative;
		margin-bottom: rem(19);
	}

	/* .object-popup__building-block */
	&__building-block {
		display: grid;
		grid-template-columns: 1fr 53%;
		row-gap: rem(20);
		@include adaptiveValue("margin-bottom", 42, 32);

		@media (max-width:$mobile) {
			grid-template-columns: 1fr;
		}
	}

	/* .object-popup__descr */
	&__descr {
		@include adaptiveValue("padding-right", 22, 10, 1020, 767, 2);
	}


	/* .object-popup__text */
	&__text {
		@include adaptiveValue("font-size", 15, 12);
		line-height: 1.7333333333;
		font-weight: 300;

		p {
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
		}
	}

	/* .object-popup__build-features */
	&__build-features {}

	/* .object-popup__installment */
	&__installment {
		margin-bottom: rem(24);

		@media (max-width:$mobile) {
			margin-bottom: rem(22);
		}
	}

	/* .object-popup__subtitle */
	&__subtitle {
		margin-bottom: rem(10);

		font-size: rem(16);
		font-weight: 600;
		line-height: math.div(26, 16);
	}

	/* .object-popup__complex */
	&__complex {}

	/* .object-popup__apartments */
	&__apartments {
		margin-bottom: rem(30);
	}

	/* .object-popup__contacts */
	&__contacts {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		padding: rem(24) 0;

		@include adaptiveValue("padding-right", 80, 20);
		@include adaptiveValue("padding-left", 80, 20);

		background-color: #1C1E28;

		@media (max-width:$tablet) {
			justify-content: center;
			column-gap: rem(80);
			@include adaptiveValue("column-gap", 80, 26);
		}

		@media (max-width:$mobileSmall) {
			margin-right: rem(-25);
			margin-left: rem(-25);
		}
	}

	&__button {
		button {
			width: rem(240);
		}

		@media (max-width:$tablet) {
			flex-basis: 100%;
			margin-bottom: rem(17);

			text-align: center;
		}
	}

	&__whatsapp {
		display: flex;
		flex-direction: column;
		padding-bottom: 0 !important;
		justify-items: start;
		align-self: flex-end;
		gap: rem(6);

		.questions__whatsapp {
			margin-left: rem(0);
			align-self: flex-start;

			@media (max-width: em(600)) {
				align-self: center;
			}
		}

		&::before {
			margin-top: rem(6);
		}

		@media (max-width: em(600)) {
			margin-top: rem(26);
		}
	}

	&__tel {
		display: flex;
		flex-direction: column;
		gap: 0 !important;
		align-self: start;

		&.questions__tel {
			margin-bottom: 0;
		}

		@media (max-width: em(600)) {
			flax-basis: 100%;
		}
	}

	&__btns {
		display: flex;
		gap: rem(10);
		position: absolute;
		right: rem(25);
		bottom: rem(25);
		@include adaptiveValue("right", 25, 15);
		@include adaptiveValue("bottom", 25, 15);
	}
}

.button-media-prev,
.button-media-next {
	display: flex;
	justify-content: center;
	align-items: center;

	@include adaptiveValue("width", 60, 40);
	@include adaptiveValue("height", 60, 40);

	border-radius: 50%;

	background-color: #fff;
	transition: all 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			opacity: .8;
		}
	}



}

.button-media-prev {
	left: 0;
}

.button-media-next {
	right: 0;
}

.build-features {

	/* .build-features__finish */
	&__finish {}

	/* .build-features__title */
	&__title {
		margin-bottom: rem(8);
	}

	/* .build-features__specifications */
	&__specifications {
		margin-bottom: rem(27) !important;

		@media (max-width:$mobile) {
			display: flex !important;
			justify-content: center !important;
			flex-wrap: wrap;
		}

		@media (max-width:$mobileSmall) {
			justify-content: space-between !important;
			width: 100%;
			padding: 0 !important;
			padding-right: rem(30) !important;
			padding-left: rem(30) !important;
		}
	}

	/* .build-features__item */
	&__item {
		padding-left: rem(22) !important;

		@media (max-width:$mobileSmall) {
			grid-template-columns: repeat(2, 1fr);
			padding-right: 0 !important;
			padding-left: 0 !important;
			padding-top: rem(11);
			padding-bottom: rem(11);
			width: 100%;

			border: none !important;

			&:nth-child(2) {
				border-top: 1px dashed rgba(255, 255, 255, 0.07) !important;
				border-bottom: 1px dashed rgba(255, 255, 255, 0.07) !important;
			}
		}

	}

	/* .build-features__label */
	&__label {
		font-size: rem(15) !important;
	}

	/* .build-features__value */
	&__value {
		justify-self: end;
	}

	/* .build-features__descr */
	&__descr {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		padding: rem(13) 0 rem(13) rem(25);
		@include adaptiveValue("row-gap", 32, 10);

		border: rem(1) solid rgba(236, 240, 241, 0.09);

		font-family: Futura PT;

		@media (max-width:$mobileSmall) {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(4, 1fr);
			padding: rem(13) rem(20);
		}
	}

	/* .build-features__block */
	&__block {

		display: grid;
		gap: rem(2);

		&:nth-child(odd) {
			@media (min-width:$mobileSmall) {
				border-right: 1px dashed rgba(255, 255, 255, 0.07) !important;
			}
		}

		&:nth-child(even) {

			@media (min-width:$mobileSmall) {
				@include adaptiveValue("padding-left", 48, 20);
			}
		}

		@media (max-width:$mobileSmall) {
			padding-bottom: rem(14);

			&:not(:last-child) {
				border-bottom: 1px dashed rgba(255, 255, 255, 0.07) !important;
			}
		}
	}

	&__name {
		font-size: rem(17);
		font-weight: 500;
		color: #A7A9AA;
	}

	/* .build-features__area-price */
	&__area-price {
		color: #51CB5F;
	}
}

.complex-object {
	@include adaptiveValue("margin-bottom", 30, 20);

	/* .complex-object__body */
	&__body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: start;

		@include adaptiveValue("column-gap", 78, 20);
		justify-content: space-between;
		@include adaptiveValue("margin-top", 20, 14);
		row-gap: rem(10);

		@media (max-width: em(600)) {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;
			justify-items: center;
			align-items: stretch;
		}
	}

	/* .complex-object__list */
	&__list {
		display: grid;
		row-gap: rem(10);

		@include adaptiveValue("font-size", 15, 12);
		line-height: 1.7333333333;
		font-weight: 300;

		@media (max-width: em(600)) {
			max-width: rem(250);
		}
	}

	/* .complex-object__item */
	&__item {
		position: relative;
		padding-left: rem(20);

		&::before {
			content: '';
			position: absolute;
			background: url('@img/icons/check-list.svg') 0 0 no-repeat;
			left: 0;
			top: rem(7);
			width: 100%;
			height: 100%;
		}
	}
}