@font-face {
	font-family: Euclid Circular A;
	font-display: swap;
	src: url("../fonts/Euclid Circular A Bold Italic.woff2") format("woff2"), url("../fonts/Euclid Circular A Bold Italic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: Euclid Circular A;
	font-display: swap;
	src: url("../fonts/Euclid Circular A Bold.woff2") format("woff2"), url("../fonts/Euclid Circular A Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Euclid Circular A;
	font-display: swap;
	src: url("../fonts/Euclid Circular A Light Italic.woff2") format("woff2"), url("../fonts/Euclid Circular A Light Italic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: Euclid Circular A;
	font-display: swap;
	src: url("../fonts/Euclid Circular A Light.woff2") format("woff2"), url("../fonts/Euclid Circular A Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Euclid Circular A;
	font-display: swap;
	src: url("../fonts/Euclid Circular A Medium.woff2") format("woff2"), url("../fonts/Euclid Circular A Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Euclid Circular A;
	font-display: swap;
	src: url("../fonts/Euclid Circular A Regular.woff2") format("woff2"), url("../fonts/Euclid Circular A Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Euclid Circular A;
	font-display: swap;
	src: url("../fonts/Euclid Circular A SemiBold.woff2") format("woff2"), url("../fonts/Euclid Circular A SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: Futura PT;
	font-display: swap;
	src: url("../fonts/Futura PT.woff2") format("woff2"), url("../fonts/Futura PT.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: SangBleuEmpireTrial;
	font-display: swap;
	src: url("../fonts/SangBleuEmpireTrial-Regular.woff2") format("woff2"), url("../fonts/SangBleuEmpireTrial-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}