.buy-home {
  margin-top: rem(-112);

  /* .buy-home__container */
  &__container {
    @include adaptiveValue("padding-top", 80, 30);
    padding-bottom: rem(105);
    position: relative;
    display: grid;
    grid-template-columns: 50.5% 1fr;
    gap: rem(15);
    
    background-color: $darkColor;
    
    @media (max-width:$mobile){
      grid-template-columns: 1fr;
    }

    &::before {
      content: '';
      @include adaptiveValue("width", 969, 365);
      @include adaptiveValue("height", 550, 368);
      position: absolute;
      background: url('@img/buy-home/book.png') 0 0 no-repeat;
      opacity: .1;
      top: rem(0);
      right: rem(0);
      z-index: 0;
    }
  }

  /* .buy-home__content */
  &__content {
    max-width: rem(500);
  }

  /* .buy-home__title */
  &__title {
    @include adaptiveValue("margin-bottom", 16, 11);
  }

  /* .buy-home__text */
  &__text {
    @include adaptiveValue("margin-bottom", 45, 27);

    @include adaptiveValue("font-size", 22, 15);
    font-weight: 300;
    line-height: math.div(36, 22);
    opacity: .8;

    span {
      font-weight: 700;
    }
  }

  /* .buy-home__button */
  &__button {
    width: rem(263);
  }

  /* .buy-home__manager */
  &__manager {}
}

.manager-buy-home {
  padding-top: rem(15);
  position: relative;

  /* .manager-buy-home__name */
  &__name {
    margin-bottom: rem(4);

    @include adaptiveValue("font-size", 24, 20);
    font-weight: 500;
    line-height: math.div(23, 24);
  }

  /* .manager-buy-home__position */
  &__position {
    margin-bottom: rem(5);

    color: #A9AFB3;
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 500;
    line-height: math.div(25, 16);
  }

  /* .manager-buy-home__text */
  &__text {
    max-width: rem(200);

    font-size: rem(13);
    font-weight: 300;
    line-height: math.div(21, 13);
    font-style: italic;

    @media (max-width:$mobile) {
      font-size: rem(12);
    }
  }

  /* .manager-buy-home__image */
  &__image {

    img {
      position: absolute;

      // right: rem(-71);
      // bottom: rem(-250);
      right: rem(-70);
      bottom: rem(-140);
      max-width: 100%;
    }
  }

  /* .manager-buy-home__bage */
  &__bage {
    position: absolute;
    @include adaptiveValue("bottom", 77, 30);
    right: rem(104);
  }
}

.bage-manager {
  display: flex;
  background-color: $hoverColor;
  z-index: 10;

  border-radius: rem(600);

  @media (min-width:$tablet) {
    padding: rem(18) 0;
  }

  &::before {
    content: '';
    position: absolute;
    opacity: 0.14;
    border: rem(1) dashed #fff;
    border-radius: rem(600);
    transform: translate(-50%, 0) scale(1.1);
    width: 95%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    left: 50%;
  }

  /* .bage-manager__item */
  &__item {
    @include adaptiveValue("padding-left", 30, 10);
    @include adaptiveValue("padding-right", 30, 10);
    min-height: rem(83);

    display: flex;
    flex-direction: column;
    justify-content: center;

    &:nth-child(2) {

      @media (min-width:$tablet) {
        border-left: rem(1) dashed rgba(255, 255, 255, 0.23);
        border-right: rem(1) dashed rgba(255, 255, 255, 0.23);
      }
    }
  }

  /* .bage-manager__label */
  &__label {
    font-size: rem(13);
    font-weight: 400;
    line-height: math.div(16, 13);
  }

  /* .bage-manager__value */
  &__value {
    @include adaptiveValue("font-size", 30, 20);
    line-height: math.div(38, 30);
    font-weight: 700;
    flex-shrink: 0;

    span {
      @include adaptiveValue("font-size", 18, 12);
      line-height: math.div(23, 18);
    }
  }
}