.title {
  max-width: rem(430);
}

h1 {
  font-family: "SangBleuEmpireTrial";
  @include adaptiveValue("font-size", 67, 28);
  line-height: math.div(80, 67);
  text-transform: uppercase;

  span {
    display: block;
    margin-top: rem(-13);

    font-family: "Miama";
    @include adaptiveValue("font-size", 57, 32);
    line-height: math.div(80, 57);
    color: $borderColor;
    text-transform: capitalize;

    @media (min-width:$mobile) {
      margin-left: rem(65);
    }
  }
}

h2 {
  font-family: "SangBleuEmpireTrial";
  @include adaptiveValue("font-size", 44, 24);
  line-height: 148%;
  text-transform: uppercase;

  span {
    color: $borderColor;
  }

  @media (max-width:$mobile) {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: rem(610);
  }
}

.title-padding {
  @include adaptiveValue("padding-left", 70, 0, 1440, 992, 1);
}

.tel {
  display: flex;
  align-items: center;
  gap: rem(10);
}

.phones {
  display: grid;
  gap: rem(2);
  min-width: rem(153);

  font-size: rem(16);
  font-weight: 500;
}

.manager {
  &__name {
    @include adaptiveValue("font-size", 24, 20);
    font-weight: 500;
    line-height: math.div(23, 24);
  }

  &__position {
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 500;
    color: #A9AFB3;
    line-height: math.div(25, 16);
  }

  &__text {
    font-size: rem(13);
    font-weight: 300;
    line-height: math.div(21, 13);
    font-style: italic;

    @media (max-width:$mobile) {
      font-size: rem(12);
    }
  }
}


[anim-left-right] {
  position: relative;
  overflow: hidden;

  transition-timing-function: ease;
  transition-duration: .4s;

  img {
    opacity: 0;
    max-width: 100%;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #232323;
    z-index: 2;
    transform: translateY(101%);
    display: block;
  }


  &._watcher-view {
    &::before {
      animation: toTop 2s cubic-bezier(.77, 0, .175, 1) forwards;
    }

    img {
      animation: zoomIN 1s cubic-bezier(.77, 0, .175, 1) forwards;
      animation-delay: 1s;
    }

  }
}

[anim-left-right-del] {
  overflow: visible;

  &::before {
    display: none;
  }

}

@keyframes toTop {
  0% {
    transform: translateY(101%)
  }

  49%,
  51% {
    transform: translateY(0)
  }

  to {
    transform: translateY(-101%)
  }
}

@keyframes zoomIN {
  0% {
    opacity: 0;
    transform: scale(2)
  }

  26% {
    opacity: 0
  }

  37% {
    opacity: 1
  }

  to {
    opacity: 1;
    transform: scale(1)
  }
}