.title {
  max-width: rem(430);
}

h1 {
  font-family: "SangBleuEmpireTrial";
  @include adaptiveValue("font-size", 67, 28);
  line-height: math.div(80, 67);
  text-transform: uppercase;

  span {
    display: block;
    margin-top: rem(-13);

    font-family: "Miama";
    @include adaptiveValue("font-size", 57, 32);
    line-height: math.div(80, 57);
    color: $borderColor;
    text-transform: capitalize;

    @media (min-width:$mobile) {
      margin-left: rem(65);
    }
  }
}

h2 {
  font-family: "SangBleuEmpireTrial";
  @include adaptiveValue("font-size", 44, 24);
  line-height: 148%;
  text-transform: uppercase;

  span {
    color: $borderColor;
  }

  @media (max-width:$mobile) {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: rem(610);
  }
}

.title-padding {
  @include adaptiveValue("padding-left", 70, 0, 1440, 992, 1);
}

.tel {
  display: flex;
  align-items: center;
  gap: rem(10);
}