.profit {
  @include adaptiveValue("padding-top", 130, 60);

  /* .profit__container */
  &__container {}

  /* .profit__title */
  &__title {
    max-width: rem(630);
    @include adaptiveValue("margin-bottom", 30, 11);
  }

  /* .profit__body */
  &__body {
    display: grid;
    grid-template-columns: 56.65% 1fr;
    gap: rem(100);
  }

  /* .profit__content */
  &__content {}

  /* .profit__text */
  &__text {
    padding-right: rem(40);

    &:not(:last-child) {
      margin-bottom: rem(14);
    }

    font-size: rem(16);
    line-height: math.div(27, 16);
    font-weight: 300;

    @media (max-width:$mobile) {
      font-size: rem(14);
    }
  }

  /* .profit__values */
  &__values {
    display: flex;
  }

  /* .profit__value */
  &__value {
    padding-top: rem(100);
    @include adaptiveValue("width", 254, 158);
    @include adaptiveValue("height", 254, 158);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    gap: rem(20);

    &:last-child {
      margin-left: rem(-30);
    }

    /* .profit__value_prc */
    &_prc {
      border: rem(1) solid $borderColor;
    }

    /* .profit__value_top */
    &_top {
      border: rem(1) solid $hoverColor;
    }
  }

  /* .profit__prc */
  &__prc {
    color: $borderColor;
    font-size: rem(59);
    font-weight: 500;
    font-family: "SangBleuEmpireTrial";
    line-height: math.div(27, 59);

    @media (max-width:$mobile) {
      font-size: rem(36);
    }
  }

  /* .profit__label */
  &__label {
    max-width: rem(130);

    font-size: rem(14);
    line-height: math.div(21, 14);

    @media (max-width:$mobile) {
      font-size: rem(12);
    }
  }

  /* .profit__top */
  &__top {
    font-family: "SangBleuEmpireTrial";
    font-size: rem(38);
    font-weight: 500;
    line-height: math.div(27, 38);
    color: $hoverColor;

    @media (max-width:$mobile) {
      font-size: rem(27);
    }
  }

  /* .profit__avantages */
  &__advangages {
    margin-bottom: rem(66);
  }

  /* .profit__item */
  &__item {
    display: flex;
    gap: rem(25);
    align-items: start;
  }

  /* .profit__list */
  &__list {
  gap: rem(40);
  display: grid;
    // padding-right: rem(86);
  }

  /* .profit__button */
  &__button {
    padding-right: rem(30);
    padding-left: rem(30);
  }
}

.title {}

.button {}