.wpcf7-radio input[type="radio"]+span:before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 30px;
  width: 30px;
  top: 0px;
  left: 0px;
  background: #fff;
}

// .wpcf7-form .wpcf7-radio input[type=radio]:checked+span:after {
//   background: #FA982F;
//   visibility: visible;
// }

// .wpcf7-form .wpcf7-radio input[type=radio] {
//   position: relative;
//   visibility: hidden;
// }
.wpcf7-radio input[type=radio]:checked+span:after {
  background: #FA982F;
  visibility: visible;
}

.wpcf7-radio input[type=radio] {
  position: relative;
  visibility: hidden;
}

.wpcf7-radio input[type="radio"]+span:after {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 14px;
  width: 14px;
  top: 8px;
  left: 8px;
  visibility: hidden;
  transition: all .2s ease-in 0s;
}

.wpcf7-radio label {
  position: relative;
  cursor: pointer;
}

.quiz-form {

  &__fieldset {
    height: rem(550);
    // min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 41.544%;
  }

  &__content {

    @include adaptiveValue("padding-top", 52, 20);
    @include adaptiveValue("padding-left", 68, 20);
    @include adaptiveValue("padding-bottom", 42, 30);
    padding-right: rem(48);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__side {
    @include adaptiveValue("padding-top", 52, 20);
    @include adaptiveValue("padding-bottom", 42, 30);
    padding-left: rem(43);
    @include adaptiveValue("padding-right", 54, 20);
  }

  &__slogan {
    margin-bottom: rem(5);

    @include adaptiveValue("font-size", 16, 13);
    line-height: math.div(29, 16);
    font-weight: 400;
    color: #9FA0A5;
  }

  &__title {
    max-width: rem(620);
    flex: 1 1 auto;

    @include adaptiveValue("font-size", 25, 17);
    line-height: math.div(33, 25);
    font-weight: 500;

  }

  &__body {
    flex: 1 1 auto;
  }

  &__list {
    display: grid;

    .quiz-form__body_start & {
      grid-template-columns: 1fr 1fr;
      gap: rem(40);
    }

  }

  &__list {
    position: relative;
  }

  &__button {
    width: rem(163);
    height: rem(61);
    gap: rem(24);
  }


  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &__side {
    background-color: #14161D;

  }

}

.progress-quiz-form {

  &__answer {
    margin-bottom: rem(9);
    display: flex;
    gap: rem(12);

    p {
      font-size: rem(13);
      line-height: math.div(16, 13);
      font-weight: 400;
    }
  }

  &__number {
    display: flex;
    gap: rem(12);
    align-items: center;
    opacity: .5;

    span {
      width: rem(21);
      height: rem(1);
      background-color: #fff;
      opacity: .3;
    }
  }

  &__bar {

    @include adaptiveValue("width", 407, 260);
    height: rem(9);
    padding: rem(2);

    background-color: #27292D;
  }

  &__line {
    height: rem(5);

    background-color: #A48B6C;

    &_1 {
      width: rem(10);
    }
  }
}