.wpcf7-radio input[type="radio"]+span:before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;

  @include adaptiveValue("height", 40, 32);
  @include adaptiveValue("width", 40, 32);
  top: rem(14);
  right: rem(-9);
  background: #fff;
  background: url('@img/quiz/icon-n_active.svg') center / cover no-repeat;
}

// .wpcf7-form .wpcf7-radio input[type=radio]:checked+span:after {
//   background: #FA982F;
//   visibility: visible;
// }

// .wpcf7-form .wpcf7-radio input[type=radio] {
//   position: relative;
//   visibility: hidden;
// }
.wpcf7-radio input[type=radio]:checked+span:after {
  visibility: visible;
}

.wpcf7-radio input[type=radio]+span {
  border: rem(3) solid $darkColor;
}

.wpcf7-radio.step5 input[type=radio]+span {
  border: rem(1) solid rgba(255, 255, 255, 0.09);
}

.wpcf7-radio input[type=radio]:checked+span {
  border: rem(3) solid $btnColor;
}

.wpcf7-radio.step5 input[type=radio]:checked+span {
  border: rem(1) solid $btnColor;
}

.wpcf7-radio input[type=radio] {
  position: relative;
  visibility: hidden;
}

.wpcf7-radio input[type="radio"]+span:after {
  background: url('@img/quiz/icon-active.svg') center / cover no-repeat;
  position: absolute;
  content: '';
  @include adaptiveValue("height", 40, 32);
  @include adaptiveValue("width", 40, 32);
  top: rem(14);
  right: rem(-9);

  visibility: hidden;
  // transition: all .2s ease-in 0s;
}

.wpcf7-radio label {
  position: relative;
  cursor: pointer;
}

.quiz-form {

  &__fieldset {
    height: rem(550);
    // min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 41.544%;
    // display: none;
    position: absolute;
    opacity: 0;
    z-index: -20;
    transition: all 0.3s ease 0s;

    &_finish {
      grid-template-columns: 42% auto;
    }

    &._send {
      opacity: 1;
      position: relative;
    }

    &._active {
      opacity: 1;
      position: relative;
      z-index: 100;
    }
  }

  &__content {
    @include adaptiveValue("padding-top", 52, 20);
    @include adaptiveValue("padding-left", 68, 20);
    @include adaptiveValue("padding-bottom", 42, 30);
    padding-right: rem(48);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .quiz-form__fieldset_finish & {
      padding-top: rem(79);
      padding-right: 0;
      padding-bottom: rem(91);
    }
  }

  &__side {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("padding-top", 52, 20);
    // @include adaptiveValue("padding-bottom", 42, 30);
    padding-left: rem(43);
    padding-bottom: rem(73);
    @include adaptiveValue("padding-right", 54, 20);

    background-color: #14161D;
  }

  &__slogan {
    margin-bottom: rem(5);

    @include adaptiveValue("font-size", 16, 13);
    line-height: math.div(29, 16);
    font-weight: 400;
    color: #9FA0A5;
  }

  &__title {
    max-width: rem(620);
    flex: 1 1 auto;

    @include adaptiveValue("font-size", 25, 17);
    line-height: math.div(33, 25);
    font-weight: 500;
    opacity: .8;

    &_finish {
      flex: 0 1 auto;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: rem(44);

    &_2items {
      grid-template-columns: 1fr 1fr;
      gap: rem(40);
    }

    &_number-items {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      @include adaptiveValue("row-gap", 49, 26);
      @include adaptiveValue("colimn-gap", 43, 26);
      flex: 1 1 auto;
    }
  }

  &__list {}

  // &__list {
  //   position: relative;
  // }

  &__button {
    width: rem(163);
    height: rem(61);
    gap: rem(24);

    &_send {
      @include adaptiveValue("width", 383, 260);
    }
  }

  &__manager {
    display: flex;
    flex: 1 1 auto;
    align-items: flex-start;

    gap: rem(24)
  }

  &__descr {
    padding-top: rem(20);
  }

  &__icon-photo {
    @include adaptiveValue("width", 86, 58);
  }

  &__positon {
    margin-bottom: rem(15);
  }

  &__text {
    p {
      &:not(:last-child) {
        margin-bottom: rem(9);
      }

      .quiz-form__right & {
        max-width: rem(230);
      }
    }

    span {
      font-weight: 700;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(81);
    // margin-top: rem(14);

    .quiz-form__fieldset_first & {
      margin-top: rem(84);
    }

    .quiz-form__fieldset_price & {
      margin-top: rem(98);
    }
  }

  &__decor {
    padding-left: rem(18);
  }

  &__badge {
    position: relative;
    padding: rem(29) rem(26) rem(29) rem(133);
    @include adaptiveValue("padding-top", 29, 10);
    @include adaptiveValue("padding-right", 26, 10);
    @include adaptiveValue("padding-bottom", 29, 10);
    @include adaptiveValue("padding-left", 133, 50);

    background-color: $hoverColor;
    border-radius: rem(600);
    z-index: 10;

    font-size: rem(16);
    line-height: math.div(20, 16);
    font-weight: 400;

    &::before {
      content: '';
      position: absolute;
      opacity: 0.14;
      border: rem(1) dashed #fff;
      border-radius: rem(600);
      transform: translate(-50%, 0) scale(1.1);
      width: 95%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      left: 50%;
    }

    span {
      font-weight: 700;
    }
  }

  &__book {
    position: absolute;
    left: rem(-90);
    top: rem(-47);
  }

  .wpcf7-list-item-label,
  &__label {
    display: flex;
    align-items: flex-end;
    height: rem(163);
    padding: 0;

    width: 100%;
    height: 100%;

    font-size: rem(15);
    line-height: math.div(22, 15);
    font-weight: 500;

    transition: all 0.3s ease 0s;

    .quiz-form__body_2items & {
      height: rem(167);
      padding: 0 rem(100) rem(8) rem(17);
    }

    .quiz-form__body_3items & {
      height: rem(163);
      padding: 0 0 rem(16) rem(17);
    }

    .quiz-form__body_number-items & {
      align-items: center;
      padding-left: rem(17);
    }

    @media (max-width:$mobile) {
      font-size: rem(14);
    }

    .step1-1 & {
      background: linear-gradient(180deg, rgba(21, 24, 32, 0.23) 38.86%, rgba(21, 24, 32, 0.86) 100%), url('@img/quiz/step-1/01.jpg') center / cover no-repeat;
    }

    .step1-2 & {
      background: linear-gradient(180deg, rgba(21, 24, 32, 0.23) 38.86%, rgba(21, 24, 32, 0.86) 100%), url('@img/quiz/step-1/02.jpg') center / cover no-repeat;
    }

    .step2-1 & {
      background: linear-gradient(180deg, rgba(21, 24, 32, 0.23) 38.86%, rgba(21, 24, 32, 0.86) 100%), url('@img/quiz/step-2/01.png') center / cover no-repeat;
    }

    .step2-2 & {
      background: linear-gradient(180deg, rgba(21, 24, 32, 0.23) 38.86%, rgba(21, 24, 32, 0.86) 100%), url('@img/quiz/step-2/02.jpg') center / cover no-repeat;
    }

    .step2-3 & {
      background: linear-gradient(180deg, rgba(21, 24, 32, 0.23) 38.86%, rgba(21, 24, 32, 0.86) 100%), url('@img/quiz/step-2/03.jpg') center / cover no-repeat;
    }

    .step3-1 & {
      background: linear-gradient(180deg, rgba(21, 24, 32, 0.23) 38.86%, rgba(21, 24, 32, 0.86) 100%), url('@img/quiz/step-3/01.jpg') center / cover no-repeat;
    }

    .step3-2 & {
      background: linear-gradient(180deg, rgba(21, 24, 32, 0.23) 38.86%, rgba(21, 24, 32, 0.86) 100%), url('@img/quiz/step-3/02.jpg') center / cover no-repeat;
    }

    .step3-3 & {
      background: linear-gradient(180deg, rgba(21, 24, 32, 0.23) 38.86%, rgba(21, 24, 32, 0.86) 100%), url('@img/quiz/step-3/03.jpg') center / cover no-repeat;
    }

    .step4-1 & {
      background: linear-gradient(180deg, rgba(21, 24, 32, 0.23) 38.86%, rgba(21, 24, 32, 0.86) 100%), url('@img/quiz/step-4/01.jpg') center / cover no-repeat;
    }

    .step4-2 & {
      background: linear-gradient(180deg, rgba(21, 24, 32, 0.23) 38.86%, rgba(21, 24, 32, 0.86) 100%), url('@img/quiz/step-4/02.jpg') center / cover no-repeat;
    }

    .step4-3 & {
      background: linear-gradient(180deg, rgba(21, 24, 32, 0.23) 38.86%, rgba(21, 24, 32, 0.86) 100%), url('@img/quiz/step-4/03.jpg') center / cover no-repeat;
    }
  }

  &__right {
    padding-left: rem(151);
    padding-top: rem(58);
    position: relative;
  }

  &__label {}

  &__line {

    &_name {
      margin-bottom: rem(40) !important;

      .form__label {
        font-size: rem(12);
        line-height: math.div(18, 12);
      }

      input {
        height: rem(45);
      }
    }

    &_social {
      margin-bottom: rem(40) !important;

      input {
        height: auto;
        padding-top: 0;
        padding-bottom: rem(21);
        border-bottom: 0.2rem solid #D1D6DE;
      }

      input::placeholder {

        font-size: rem(15);
        line-height: math.div(22, 15);
        color: #8A8C92;
      }
    }
  }

  &__book-img {
    position: absolute;
    left: 36%;
    top: 36%;
  }

  &__director {
    position: absolute;
    bottom: rem(-36);
    right: rem(-71);
  }

  &__check {
    background-color: $btnColor;
    width: rem(82);
    height: rem(82);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.progress-quiz-form {

  &__answer {
    margin-bottom: rem(9);
    display: flex;
    gap: rem(12);

    p {
      font-size: rem(13);
      line-height: math.div(16, 13);
      font-weight: 400;
    }
  }

  &__number {
    display: flex;
    gap: rem(12);
    align-items: center;
    opacity: .5;

    span {
      width: rem(21);
      height: rem(1);
      background-color: #fff;
      opacity: .3;
    }
  }

  &__bar {

    @include adaptiveValue("width", 407, 260);
    height: rem(9);
    padding: rem(2);

    background-color: #27292D;
  }

  &__line {
    height: rem(5);

    background-color: #A48B6C;

    &_1 {
      width: 2.48%;
    }

    &_2 {
      width: 20.09%;
    }

    &_3 {
      width: 40.44%;
    }

    &_4 {
      width: 61.04%;
    }

    &_5 {
      width: 100%;
    }
  }
}

.quiz-thanks-popup__book-img {
  position: absolute;
  bottom: rem(-30);
  left: rem(-20);
}

.quiz-thanks-popup__text {
  font-size: rem(16);
  line-height: math.div(26, 16);
  font-weight: 300;
  font-style: italic;

  @media (max-width:$mobile) {
    font-size: rem(15);
  }
}

.quiz-thanks-popup__content {
  gap: rem(19);
  justify-content: center;
}