.wpcf7-radio input[type="radio"]+span:before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 30px;
  width: 30px;
  top: 0px;
  left: 0px;
  background: #fff;
}

// .wpcf7-form .wpcf7-radio input[type=radio]:checked+span:after {
//   background: #FA982F;
//   visibility: visible;
// }

// .wpcf7-form .wpcf7-radio input[type=radio] {
//   position: relative;
//   visibility: hidden;
// }
.wpcf7-radio input[type=radio]:checked+span:after {
  background: #FA982F;
  visibility: visible;
}

.wpcf7-radio input[type=radio]+span {
  border: rem(4) solid transparent;
}

.wpcf7-radio input[type=radio]:checked+span {
  border: rem(4) solid $btnColor;
}

.wpcf7-radio input[type=radio] {
  position: relative;
  visibility: hidden;
}

.wpcf7-radio input[type="radio"]+span:after {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 14px;
  width: 14px;
  top: 8px;
  left: 8px;
  visibility: hidden;
  transition: all .2s ease-in 0s;
}

.wpcf7-radio label {
  position: relative;
  cursor: pointer;
}

.quiz-form {

  &__fieldset {
    height: rem(550);
    // min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 41.544%;
  }

  &__content {

    @include adaptiveValue("padding-top", 52, 20);
    @include adaptiveValue("padding-left", 68, 20);
    @include adaptiveValue("padding-bottom", 42, 30);
    padding-right: rem(48);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__side {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("padding-top", 52, 20);
    // @include adaptiveValue("padding-bottom", 42, 30);
    padding-left: rem(43);
    padding-bottom: rem(73);
    @include adaptiveValue("padding-right", 54, 20);

    background-color: #14161D;
  }

  &__slogan {
    margin-bottom: rem(5);

    @include adaptiveValue("font-size", 16, 13);
    line-height: math.div(29, 16);
    font-weight: 400;
    color: #9FA0A5;
  }

  &__title {
    max-width: rem(620);
    flex: 1 1 auto;

    @include adaptiveValue("font-size", 25, 17);
    line-height: math.div(33, 25);
    font-weight: 500;

  }

  &__body {
    flex: 1 1 auto;
  }

  &__list {
    display: grid;

    .quiz-form__body_start & {
      grid-template-columns: 1fr 1fr;
      gap: rem(40);

      height: rem(175);
    }
  }

  &__list {
    position: relative;
  }

  &__button {
    width: rem(163);
    height: rem(61);
    gap: rem(24);
  }

  &__manager {
    display: flex;
    flex: 1 1 auto;
    align-items: flex-start;

    gap: rem(24)
  }

  &__descr {
    padding-top: rem(20);
  }

  &__icon-photo {
    @include adaptiveValue("width", 86, 58);
  }

  &__positon {
    margin-bottom: rem(15);
  }

  &__text {
    p {
      &:not(:last-child) {
        margin-bottom: rem(9);
      }
    }

    span {
      font-weight: 700;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &__decor {
    padding-left: rem(18);
  }

  &__badge {
    position: relative;
    padding: rem(29) rem(26) rem(29) rem(133);

    background-color: $hoverColor;
    border-radius: rem(600);
    z-index: 10;

    font-size: rem(16);
    line-height: math.div(20, 16);
    font-weight: 400;

    &::before {
      content: '';
      position: absolute;
      opacity: 0.14;
      border: rem(1) dashed #fff;
      border-radius: rem(600);
      transform: translate(-50%, 0) scale(1.1);
      width: 95%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      left: 50%;
    }

    span {
      font-weight: 700;
    }
  }

  &__book {
    position: absolute;
    left: rem(-90);
    top: rem(-47);
  }

  .wpcf7-list-item-label,
  &__label {
    display: block;
    background: url('@img/quiz/step-1/01.jpg') 0 0 no-repeat;
    // background: linear-gradient(0deg, rgba(2, 11, 24, 0.78), rgba(2, 11, 24, 0.78)), url('@img/intro-backround.jpg') right / cover no-repeat;
    width: 100%;
    height: 100%;

    transition: all 0.3s ease 0s;
  }


}

.progress-quiz-form {

  &__answer {
    margin-bottom: rem(9);
    display: flex;
    gap: rem(12);

    p {
      font-size: rem(13);
      line-height: math.div(16, 13);
      font-weight: 400;
    }
  }

  &__number {
    display: flex;
    gap: rem(12);
    align-items: center;
    opacity: .5;

    span {
      width: rem(21);
      height: rem(1);
      background-color: #fff;
      opacity: .3;
    }
  }

  &__bar {

    @include adaptiveValue("width", 407, 260);
    height: rem(9);
    padding: rem(2);

    background-color: #27292D;
  }

  &__line {
    height: rem(5);

    background-color: #A48B6C;

    &_1 {
      width: rem(10);
    }
  }
}