@use 'sass:math';

@import 'base/mixins';

//&display=swap
// @import url('https://fonts.googleapis.com/css?family=Quicksand:regular,700&display=swap');

@import "fonts/fonts";

//@import "fonts/icons";


$fontFamily: "Euclid Circular A";
$fontSize: rem(18);

// Основные цвета
$mainColor: #fff;
$bodyColor: #1F222C;
$btnColor: #3099E5;
$hoverColor: #A48B6C;
$darkColor: #151820;
$borderColor: #32A9FF;
$textCoolor: #81878F;

// Палитра цветов
// @import "base/colors-palette";


$minWidth: 320;

$maxWidth: 1440;

$maxWidthContainer: 1230;

$containerPadding: 30;

$containerWidth: $maxWidthContainer+$containerPadding;

// Брейк-поїнти
$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import 'base/null';

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
  background-color: $bodyColor;
  font-weight: 400;

  // Скролл заблокирован
  .lock & {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }

  // Сайт загружен
  .loaded & {
    opacity: 1;
    transition: opacity 0.6s ease 0s;
  }
}

// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @supports (overflow: clip) {
    overflow: clip;
  }

  // Прижимаем footer
  >main {
    flex: 1 1 auto;
  }

  // Фикс для слайдеров
  >* {
    min-width: 0;
  }
}

@if ($responsiveType==1) {

  // Отзывчивая
  [class*='__container'] {
    @if ($maxWidthContainer>0) {
      max-width: rem($containerWidth);
      margin: 0 auto;
    }

    @if ($containerPadding>0) {
      @if ($maxWidthContainer>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }

      @else {
        @include adaptiveValue('padding-left', math.div($containerPadding, 2), 15);
        @include adaptiveValue('padding-right', math.div($containerPadding, 2), 15);
      }
    }
  }

  [class*="__container_small"] {
    max-width: rem(1080);
    margin: 0 auto;
    padding: 0;
  }
}

@else {

  // Брейк-поїнтами
  [class*='__container'] {
    margin: 0 auto;

    @if ($maxWidthContainer>0) {
      max-width: rem($containerWidth);
    }

    @else {
      @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }

    @media (max-width: $pc) {
      max-width: rem(970);
    }

    @media (max-width: $tablet) {
      max-width: rem(750);
    }

    @media (max-width: $mobile) {
      max-width: none;

      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}


@import 'base';

@import 'common';

// @import "animation";

// Подключение стилей отдельных блоков
@import "header";
@import "intro";
@import "features";
@import "profit";
@import "buy-home";
@import "services";
@import "questions";
@import "projects";
@import "faq";
@import "footer";

// Подключение стилей отдельных страниц